GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

PORT=5005
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:3001

MONGO_URI=
RABBITMQ_URL=

GITHUB_CLIENT_SECRET=
GITHUB_CLIENT_ID=
GITHUB_CALLBACK_URL=

REDIS_URL=
REDIS_PORT=
REDIS_USERNAME=
REDIS_PASSWORD=

SMTP_EMAIL=
SMTP_PASS=
